In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('rec_desc1.csv')

In [3]:
df

,Link,ARC Code,Description,Recommendations,Recommended $ Savings,Average Payback (yrs),Implementation Rate
0,https://iac.university/recommendationTypes/2.,2.0000,ENERGY MANAGEMENT,"139,525","$1,937,758,781",1.8,51.0%
1,https://iac.university/recommendationTypes/3.,3.0000,WASTE MINIMIZATION / POLLUTION PREVENTION,"10,492","$319,982,761",1.6,40.1%
2,https://iac.university/recommendationTypes/4.,4.0000,DIRECT PRODUCTIVITY ENHANCEMENTS,"6,462","$661,119,557",0.9,42.8%
3,https://iac.university/recommendationTypes/2.1,2.1000,Combustion Systems,"8,190","$232,346,723",1.4,47.2%
4,https://iac.university/recommendationTypes/2.2,2.2000,Thermal Systems,"19,627","$414,193,143",3.0,41.7%
...,...,...,...,...,...,...,...
804,NaN,3.8224,CONVERT TO LESS TOXIC HYDROCARBON CLEANERS,14,"$154,116",0.0,71.4%
805,NaN,3.8225,REPLACE HEXAVALENT CHROMIUM SOLUTIONS WITH TRI...,3,"$33,830",0.6,0.0%
806,NaN,3.8228,REPLACE HEAVY METAL REAGENTS WITH NON-HAZARDOU...,1,"$21,060",0.7,0.0%
807,NaN,3.8312,USE BUILDING MATERIALS WHICH REQUIRE LESS ENER...,3,"$199,030",0.9,33.3%
808,NaN,3.8314,PURCHASE HIGH MATERIALS IN RETURNABLE BULK CON...,25,"$532,050",0.9,21.7%

In [4]:
RECC_df=pd.read_csv('RECC_df.csv')

In [5]:
RECC_df

,SUPERID,ID,AR_NUMBER,APPCODE,ARC2,IMPSTATUS,IMPCOST,PSOURCCODE,PCONSERVED,PSOURCONSV,...,QCONSERVED,QSOURCONSV,QSAVED,REBATE,INCREMNTAL,FY,IC_CAPITAL,IC_OTHER,PAYBACK,BPTOOL
0,AM000101,AM0001,1.0,NaN,2.8114,N,15000.0,E1,NaN,NaN,...,NaN,NaN,NaN,N,N,1987.0,NaN,NaN,8.205689,NaN
1,AM000102,AM0001,2.0,NaN,2.7142,N,189.0,E1,7034.0,72.0,...,NaN,NaN,NaN,N,N,1987.0,NaN,NaN,0.285068,NaN
2,AM000103,AM0001,3.0,NaN,2.7111,N,398.0,E1,10258.0,105.0,...,NaN,NaN,NaN,N,N,1987.0,NaN,NaN,0.418947,NaN
3,AM000104,AM0001,4.0,NaN,2.7447,I,354.0,E1,10844.0,111.0,...,NaN,NaN,NaN,N,N,1987.0,NaN,NaN,0.650735,NaN
4,AM000105,AM0001,5.0,NaN,2.7233,N,15.0,E1,4982.0,51.0,...,NaN,NaN,NaN,N,N,1987.0,NaN,NaN,0.055556,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156635,WV065413,WV0654,13.0,NaN,2.4157,P,1500.0,EC,15555.0,NaN,...,NaN,NaN,NaN,N,N,2023.0,1500.0,NaN,NaN,MM+
156636,WV065414,WV0654,14.0,NaN,2.4151,P,1370.0,EC,7291.0,NaN,...,NaN,NaN,NaN,N,N,2023.0,NaN,1370.0,NaN,MEASUR
156637,WV065415,WV0654,15.0,NaN,2.4221,P,970.0,EC,2562.0,NaN,...,NaN,NaN,NaN,N,N,2023.0,430.0,540.0,NaN,AM+
156638,WV065416,WV0654,16.0,NaN,2.2511,P,98.0,E2,12.0,NaN,...,NaN,NaN,NaN,N,N,2023.0,75.0,23.0,NaN,SSTS
156639,WV065417,WV0654,17.0,NaN,2.4231,P,240.0,EC,1971.0,NaN,...,NaN,NaN,NaN,N,N,2023.0,NaN,240.0,NaN,AM+

In [6]:
ASSESS_df=pd.read_csv('ASSESS_df.csv')

In [7]:
ASSESS_df

,ID,CENTER,FY,SIC,NAICS,STATE,SALES,EMPLOYEES,PLANT_AREA,PRODUCTS,...,W2_plant_cost,W2_plant_usage,W3_plant_cost,W3_plant_usage,W4_plant_cost,W4_plant_usage,W5_plant_cost,W5_plant_usage,W6_plant_cost,W6_plant_usage
0,AM0001,AM,1987.0,3671.0,NaN,TX,33900000.0,206.0,NaN,MICRO & MINI COMPUTERS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AM0002,AM,1987.0,2761.0,NaN,TX,25000000.0,156.0,NaN,BUSINESS FORMS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AM0003,AM,1987.0,3494.0,NaN,TX,15000000.0,200.0,NaN,SAFETY JOINTS & VALVES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AM0004,AM,1987.0,3713.0,NaN,TX,4200000.0,75.0,NaN,TRUCKS BEDS & TRAILERS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AM0005,AM,1987.0,2024.0,NaN,TX,12000000.0,39.0,NaN,ICE CREAM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20976,WV0650,WV,2023.0,2821.0,325211.0,WV,5000000.0,78.0,350000.0,Polymer Resins,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20977,WV0651,WV,2023.0,3581.0,333310.0,WV,20680000.0,94.0,75100.0,Vending machines,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20978,WV0652,WV,2023.0,3089.0,326199.0,WV,45000000.0,250.0,1000000.0,Plastic Products,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20979,WV0653,WV,2023.0,3069.0,326299.0,OH,99000000.0,313.0,375000.0,Insulation glass rubber,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20980,WV0654,WV,2023.0,3537.0,336120.0,VA,99000000.0,350.0,300000.0,Medium Duty Trucks,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
merged_df = pd.merge(ASSESS_df, RECC_df, on='ID', how='inner')

In [9]:
merged_df=pd.merge(merged_df, df, left_on='ARC2', right_on='ARC Code', how='inner')

In [10]:
ISAD=merged_df[['ID','SUPERID','ARC2','Description','SIC','IMPSTATUS']]

In [11]:
ISAD.to_csv('ISAD.csv', index=False)